# APP CONFIG ==============================================
PORT=3000
NODE_ENV=development
# S3 CLOUD CONFIG ========================================
s3_cloud_endpoint=
s3_cloud_flare_account_id=
s3_cloud_flare_access_key_id=
s3_cloud_flare_secret_access_key=
s3_cloud_flare_bucket=
s3_cloud_flare_pub_link=
# JWT CONFIG =============================================
JWT_SECRET=
# MASTER CONFIG =============================================
MASTER_DB_USER=
MASTER_DB_PASSWORD=
MASTER_DB_HOST=
MASTER_DB_PORT=
MASTER_DB_NAME=